*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
}
/* float */
.clearfix::after{
  clear: both;
  content: "";
  display: table;
}
.float-rx{
  float: right;
}
.float-lx{
  float: left;
}
/* end float */
/* position */
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
/* end position */
/* start header */
header{
  line-height: 70px ;
  font-size: 0.9rem;
}
.main-logo img{
  vertical-align: middle;
  margin: 0 1rem;
}
ul li{
  display: inline-block;
  margin: 0 1rem;
  list-style:none;
}
li a{
  text-decoration: none;
  color: black;
}
/* end header */
/* button */
.btn{
  padding: 8px 20px;
  text-decoration: none;
}
.btn-blue{
  background-color: #0061ff;
  color: white;
}
.btn-white{
  background-color: white;
  color: #000000;
  border: solid #000000;
}
/* end button */
/* main */
h1{
  padding-top: 3rem;
  font-size: 3.8rem;
}
.background-blue{
  background-color: #b4d0e7;
  height: 70vh;
}
a{
  color: #0061ff;
}
/* jumbotron */
.jumbotron{
  width: 80%;
  min-width: 750px;
  max-width: 1180px;
  margin: 0 auto;
}
.box-medium,.jumbotron-img{
  display: inline-block;
}
.box-medium{
  width: 34%;
}
.jumbotron a{
  margin: 2rem 0 1rem 0;
  display: inline-block;
}
.jumbotron-img{
  width: 60%;
}
.jumbotron-img img{
  width: 100%;
}
.box-medium,.jumbotron-img{
  padding-top: 2rem;
}
.box-medium i{
  margin-top: 1.7rem;
  font-weight: bold;
  font-size: 1.7rem;
}
/* end jumbotron */
.container{
  width: 70%;
  min-width: 750px;
  max-width: 1180px;
  margin: 10rem auto;
}
h2{
  font-size: 2rem;
  margin-bottom:2rem;
}
.row{
  width: calc((100% / 3) - 2.5rem);
  margin: 2rem 2.5rem 2rem 0;
}
.row-header{
  border: solid #e2e2e3;
  text-align: center;
  padding: 10px;
}
.row-main{
  border: solid #e2e2e3;
  padding: 1.5rem;
  font-size: .9rem;
  height: 1100px;
}
.row-main div{
  margin: 1.5rem 0;
}
main h3, main h4{
  margin: 1rem 0;
}
.row-main p{
  margin-bottom: 1rem;
}
main .btn{
  display: inline-block;
  margin: 1rem 0;
}
.row-main span{
  display: inline-block;
  margin-bottom: 2rem;
}
.span-underline{
  padding-bottom: 2rem;
  border-bottom: solid #e2e2e3;
  margin-right: .5rem;
}
i.fa-check{
  color: #0061ff;
}
.row-main .gray{
  color: gray;
  font-size: .85rem;
}
.row-main h3{
  font-size: 1.5rem;
}
.row-large{
  width: calc(100% - 2.5rem);
}
.row-main-large{
  border: solid #e2e2e3;
  font-size: 0.8rem;
  padding: 2rem;
}
.row-main-large .btn{
  margin:0;
  top:1.5rem;
  right: 1.5rem;
  padding: 0.5rem 2.5rem;
}
/* end row plane business  */
/* start card business */
.img-medium{
  width: 60%;
}
.img-medium img{
  width: 100%;
}
.info-business{
  margin-top: 6rem;
}
.card{
  width: calc((100% / 3) - 2rem);
  margin: 0 2rem 4rem 0;
}
.card img{
  width: 100%;
}
.card h4{
  font-size: 1.2rem;
  margin-top: 0;
}
/* end card business */
/* start team part */
.team .container h2{
  width: 49%;
}
.svg{
  height: 60%;
  background-color: red;
}
.svg-lx{
  background-color: greenyellow;
  height: 100%;
  width: 30%;
}
.svg-rx{
  background-color: orange;
  height: 100%;
  width: 30%;
}
.svg-text{
  width: 70%;
  margin:0 auto;
  height: 40%;
  padding-top: 5rem;
}
.svg-text h2{
  width: 50%;
}
footer{
  background-color: #000000;
}
