*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
}
/* float */
.clearfix::after{
  clear: both;
  content: "";
  display: table;
}
.float-rx{
  float: right;
}
.float-lx{
  float: left;
}
/* end float */
/* position */
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
/* end position */
/* start header */
header{
  line-height: 70px ;
  font-size: 0.9rem;
}
.main-logo img{
  vertical-align: middle;
  margin: 0 1rem;
}
ul li{
  display: inline-block;
  margin: 0 1rem;
  list-style:none;
}
li a{
  text-decoration: none;
  color: black;
}
.btn{
  background-color: #0061ff;
  padding: 8px 20px;
  color: white;
  text-decoration: none;
}
/* end header */
/* main */
h1{
  padding-top: 3rem;
  font-size: 3.8rem;
}
.background-blu{
  background-color: #b4d0e7;
  height: 70vh;
}
.jumbotron{
  width: 80%;
  min-width: 750px;
  max-width: 1180px;
  margin: 0 auto;
}
.box-medium,.jumbotron-img{
  display: inline-block;
}
.box-medium{
  width: 34%;
}
.jumbotron a{
  margin: 2rem 0 1rem 0;
  display: inline-block;
}
.jumbotron-img{
  width: 60%;
}
.jumbotron-img img{
  width: 100%;
}
.box-medium,.jumbotron-img{
  padding-top: 2rem;
}
.box-medium i{
  margin-top: 1.7rem;
  font-weight: bold;
  font-size: 1.7rem;
}
/* end jumbotron */
.container{
  width: 70%;
  min-width: 750px;
  max-width: 1180px;
  margin: 10rem auto;
}
h2{
  font-size: 2rem;
  margin-bottom:2rem;
}
.row{
  width: calc((100% / 3) - 2.5rem);
  margin: 2rem 2.5rem 2rem 0;
}
.row-header{
  border: solid #e2e2e3;
  text-align: center;
  padding: 10px;
}
.row-main{
  border: solid #e2e2e3;
  padding: 1.5rem;
  font-size: .9rem;
  height: 1100px;
}
.row-main div{
  margin: 1.5rem 0;
}
main h3, main h4{
  margin: 1rem 0;
}
.row-main p{
  margin-bottom: 1rem;
}
main .btn{
  display: inline-block;
  margin: 1rem 0;
}
.row-main span{
  display: inline-block;
  margin-bottom: 2rem;
}
.span-underline{
  padding-bottom: 2rem;
  border-bottom: solid #e2e2e3;
  margin-right: .5rem;
}
i.fa-check{
  color: #0061ff;
}
.row-main .gray{
  color: gray;
}
.row-main h3{
  font-size: 1.5rem;
}
.row-large{
  width: 100%;
}
.row-main-large{
  border: solid #e2e2e3;
  font-size: 0.8rem;
  padding: 2rem;
}
.row-main-large .btn{
  margin:0;
  top:1.5rem;
  right: 1.5rem;
  padding: 0.5rem 2.5rem;
}