*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
/* float */
.clearfix::after{
  clear: both;
  content: "";
  display: table;
}
.float-rx{
  float: right;
}
.float-lx{
  float: left;
}
/* end float */
/* position */
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
/* end position */
/* start header */
header{
  line-height: 70px ;
  font-size: 0.9rem;
}
.main-logo img{
  vertical-align: middle;
  margin: 0 1rem;
}
ul li{
  display: inline-block;
  margin: 0 1rem;
  list-style:none;
}
li a{
  text-decoration: none;
  color: black;
}
.btn{
  background-color: #0061ff;
  padding: 8px 20px;
  color: white;
}
/* end header */
/* main */
h1{
  padding-top: 3rem;
  font-size: 4rem;
}
.background-blu{
  background-color: #b4d0e7;
  height: 70vh;
}
.container{
  width: 80%;
  min-width: 500px;
  max-width: 1180px;
  margin: 0 auto;
}
.box-medium,.jumbotron-img{
  display: inline-block;
}
.box-medium{
  width: 34%;
}
.container a{
  margin: 2rem 0 1rem 0;
  display: inline-block;
}
.jumbotron-img{
  width: 60%;
}
.jumbotron-img img{
  width: 100%;
}
.box-medium,.jumbotron-img{
  padding-top: 2rem;
}
/* end jumbotron */
