header{
  position: fixed;
  background-color: white;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}
main{
  margin-top: 70px;
}
header li:hover{
  border-bottom: 3px solid #0061ff;
}
header #support:hover{
  
}
header #support:after{
  
}